@model Test.Models.IndexParamsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Запись к врачу</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <h3>Дата записи</h3>
            <input type="date" name="calendar" value="@ViewBag.DateNow"><br />
            <div>
                <form method="post" action="SelectDoctor">
                    @foreach (var doc in Model.Doctors)
                    {
                        <input type="checkbox" name="Doctor" value="@doc.Id" />@doc.ToString()<br />
                    }
                    <input type="submit" value="Выбрать" />
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h3>Расписание специалисов</h3>
                @foreach (var doc in Model.SelectedDoctors)
                {
                    <div class="col-md-2">
                        <table>
                            <tr>
                                <td>
                                    Специалист
                                    <br />
                                    @doc.ToString()
                                </td>
                            </tr>
                            @foreach (var c in doc.TimeTables.First().Cells)
                            {
                                <tr><td>@c.IsEmpty</td></tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>