@model Test.Models.Hospital
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/MyStyles/my-styles.css">
    <title>Запись к врачу</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <h3>Дата записи</h3>
            <div>
                <form method="get" action="/Home/InputIds">
                    <input type="date" name="date" value="@ViewBag.CalendarDate" style="width: 100%"><br /><br />
                    <div class="scrollable-list">
                        @foreach (var doc in Model.Doctors)
                        {
                            <div class="horizontal-line"></div>
                            <input type="checkbox" name="doctor" value="@doc.Id" />@doc.ToString()
                        }
                    </div>
                    <br />
                    <input type="submit" value="Выбрать" style="float: right" />
                </form>
            </div>
        </div>
        @Html.Action("ShowTimeTables", "Home", new { doctorIds = ViewBag.Indexes, date = ViewBag.CalendarDate })
    </div>
    @section scripts {
        @Scripts.Render("~/Scripts/MyScripts/block-checkbox.js")
    }
</body>
</html>